@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Hollie Murdock:</span>
        <span>(801)-629-4731</span>
    </p>
    <p>
        <span class="label">Chris Green:</span>
        <span>(801)-629-4797</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Hollie Murdock:</span>
        <span><a href="mailto:HollieM@usdb.org">HollieM@usdb.org</a></span>
    </p>
    <p>
        <span class="label">Chris Green:</span>
        <span><a href="mailto:ChrisG@usdb.org">ChrisG@usdb.org</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        741 Harrison Blvd.<br />
        Odgen, Ut
    </p>
</section>