@{
    ViewBag.Title = "Search Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This page will eventually have a search function and browsing capabilities. 
            </p>
        </div>
    </section>
}
<h3>We want the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Searching</h5>
        Ze power of search via ISBN, Name, and Author
    </li>

    <li class="two">
        <h5>Browsing</h5>
        Be able to browse suggested material or view your search results in a paginated list format.
    </li>

    <li class="three">
        <h5>Item Selection</h5>
        Either view the full details or quickly add it to your cart. 
    </li>
</ol>
