@{
    ViewBag.Title = "Cart Page";
}

@section featured{   
    
    <section class="featured">
        <div class="content-wrapper">
            <h2>@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>
        </div>
    </section>
}